@page "/"
@inherits PatientSystemComponentBase

<div class="row mb-3">
    <div class="col-xl-6 col-12 d-flex">
        <div class="card h-lg-100 w-100 overflow-hidden">
            <div class="card-body">
                <div class="starting-content pe-5">
                    @if (!CurrentUser.IsAuthenticated)
                    {
                        <h3>@L["Welcome_Title"]</h3>
                        <p class="lead text-muted mb-2">@L["Welcome_Text"]</p>
                        <a href="/Account/Login" class="btn btn-primary mb-4"><i class="fa-solid fa-right-to-bracket me-1"></i><span>@L["Login"]</span></a>
                    }
                    
                    <h4>@L["Getting Started"]</h4>
                        <p class="text-muted mb-2">@L["Started_Text"]</p>
                </div>
                <img class="card-bg-image" src="/images/getting-started/bg-01.png">
            </div>
        </div>
    </div>
</div>